{% extends "../base.html" %}
{% block title %}封禁主机列表{% end %}
{% block content %}
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>主机</th>
      <th>日期</th>
      <th>添加者</th>
      <th>原因</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for item in banned_hosts %}
    <tr>
      <td>
        {{ escape(item[0]) }}
      </td>
      <td>
        {{ escape(item[1]) }}
      </td>
      <td>
        {{ escape(item[2]) }}
      </td>
      <td>
        {{ item[3] }}
      </td>
      <td>
        <form method="POST">
          {% module xsrf_form_html() %}
          <input hidden type="text" name="action" value="ban_remove"></input>
          <input hidden type="text" name="host" value="{{ item[0] }}"></input>
          <input type="submit" value="移除" class="btn btn-danger"></input>
        </form>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
<div style="height: 75px"></div>
<div class="card">
  <div class="card-header">
    添加条目
  </div>
  <div class="card-body">
    <form method="POST">
      {% module xsrf_form_html() %}
      <input hidden type="text"  class="form-control" name="action" value="ban_add"></input>
      <div class="form-group row">
        <label for="host" class="col-form-label col-sm-2">主机</label>
        <input type="text" class="form-control col-sm-10" name="host"></input>
      </div>
      <div class="form-group row">
        <label for="reason" class="col-form-label col-sm-2">原因</label>
        <input type="text" class="form-control col-sm-10" name="reason"></input>
      </div>
      <input type="submit" class="btn btn-warning" value="添加到封禁列表"></input>
    </form>
  </div>
</div>
{% end %}
