{% extends "../base.html" %}
{% block title %}管理面板{% end %}
{% block content %}
  <h3>欢迎, {{ username }}!</h3>

  <p>
    当前共有 <code>{{ session_count }}</code> 个活动会话，以及 <code>{{ total_player_count }}</code> 位活跃玩家。

    本索引服务器自 <code>{{ start_time }}</code> 启动以来，已承载过 <code>{{ total_session_count }}</code> 个会话。
  </p>

  操作:
  <ul>
    <li>
      <a href="/admin/server_list">服务器列表</a> - 查看并移除各个会话
    </li>
    <li>
      <a href="/admin/bans">封禁主机列表</a> -审查并移除被封禁的主机
    </li>
    <li>
      <a href="/admin/blacklist">黑名单</a> - 将特定词语列入黑名单以禁止使用
    </li>
    <li>
      <a href="/admin/user_management">用户管理</a> - 修改密码、添加和移除用户
    </li>
  </ul>
{% end %}
