{% extends "../base.html" %}
{% block title %}服务器列表{% end %}
{% block content %}
<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>地区</th>
      <th>名称</th>
      <th>游戏</th>
      <th>有密码?</th>
      <th>玩家数</th>
      <th>版本</th>
      <th>主机</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for session in sessions %}
    <tr>
      <td>
        {{ escape(sessions[session]['region']) }}
      </td>
      <td>
        {{ escape(sessions[session]['name']) }}
      </td>
      <td>
        {{ escape(sessions[session]['game']) }}
      </td>
      <td>
        {% if sessions[session]['password'] %}
        是
        {% else %}
        否
        {% end %}
      </td>
      <td>
        {{ sessions[session]['player_count'] }}
      </td>
      <td>
        {{ escape(sessions[session]['version']) }}
      </td>
      <td>
        {% if regions[session] %}
        <span class="flag-icon flag-icon-{{ escape(regions[session]) }}"></span>
        {% end %}
        {{ escape(hosts[session]) }}
      </td>
      <td>
        <form method="POST">
          {% module xsrf_form_html() %}
          <input hidden type="text" name="action" value="session_remove"></input>
          <input hidden type="text" name="secret" value="{{ session }}"></input>
          <input type="submit" class="btn btn-danger" value="移除"></input>
        </form>
      </td>
    </tr>
    {% end %}
  </tbody>
</table>
{% end %}
